.login {
  display: none;
  place-items: center;
  gap: 10px;
  position: fixed;
  margin-top: 75px;
  background-color: #fff;
  justify-self: right;
  width: 400px;
  padding: 30px;
  z-index: 100;
  border: solid #000 1px;
}

.login > input {
  width: 300px;
}

.login > button {
  width: 100px;
}

.login > p {
  color: #000;
}
