:root {
  --headerHeight: 50px;
}

.search-menu {
  display: none;
  position: fixed;
  justify-self: center;
  margin-top: 5%;
  z-index: 100;
  height: 80%;
  width: 80%;
  background-color: black;
  border-radius: 15px;
}

.search-menu > header {
  display: flex;
  width: 100%;
  place-items: center;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
  background-color: blueviolet;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.search-menu > header > button {
  width: 19%;
  height: var(--headerHeight);
  border: none;
  border-top-right-radius: 15px;
}

.search-menu > header > img {
  width: var(--headerHeight);
}

.search-bar {
  width: 90%;
  height: var(--headerHeight);
  border: none;
  padding: 5px;
}

.vn-search-list {
  padding: 5px;
  color: white;
  max-height: 90%;
  overflow: scroll;
}

.vn-search-entry {
  display: flex;
  gap: 10px;
  place-items: center;
}

.vn-search-entry > img {
  width: 40px;
}
