* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
}

body > header {
  display: flex;
  place-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  background-color: red;
}

main {
  padding: 10px;
}

.vn-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px;
}

.vn-card {
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 200px;
  background-color: blue;
  padding: 10px;
  border-radius: 15px;
}

.vn-card > img {
  width: 100%;
  background-color: blue;
  border-radius: 15px;
}

.explicit-img {
  filter: blur(0.7rem);
}

.vn-card > h4 {
  text-align: center;
  margin-top: 30px;
}

.vn-card > p {
  align-self: flex-end;
}
