:root {
  --bgColor: #1c1c1c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  background-color: var(--bgColor);
}

body > header {
  position: fixed;
  display: flex;
  place-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 15px;
  background-color: #1e3a8a;
  border-bottom: #0a1430 solid 3px;
  color: #fff;
}

body > header > p:hover {
  cursor: pointer;
}

main {
  padding: 100px 30px 100px 20%;
}

.user-details {
  position: relative;
  position: fixed;
  top: 120px;
  left: 1.5%;
  width: 17%;
  height: 80vh;
  background-color: white;
  background-color: #141414;
}

.info {
  display: grid;
  place-content: center;
  border: #fff 0.5px solid;
  flex-wrap: wrap;
  background-color: #141414;
  padding: 30px;
  z-index: 1;
}

.vn-list {
  display: flex;
  place-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 30px;
}

.search-info {
  color: #fff;
}
