:root {
  --bgColor: #1c1c1c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  background-color: var(--bgColor);
}

body > header {
  position: fixed;
  display: flex;
  place-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 15px;
  background-color: red;
}

main {
  padding: 100px 30px 100px 20%;
}

.user-details {
  position: relative;
  position: fixed;
  top: 13%;
  left: 1.5%;
  width: 17%;
  height: 83%;
  background-color: white;
  background-color: #141414;
}

.vn-list {
  display: flex;
  place-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px;
}

.info {
  display: grid;
  place-content: center;
  border: #fff 0.5px solid;
  flex-wrap: wrap;
  background-color: #141414;
  padding: 30px;
  z-index: 1;
}

.subahibi {
  position: absolute;
  bottom: -200px;
  right: -40px;
  width: 300px;
  z-index: 0;
}

.vn-card {
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 200px;
  background-color: blue;
  padding: 10px;
  border-radius: 15px;
}

.vn-card > img {
  width: 100%;
  background-color: blue;
  border-radius: 15px;
}

.vn-card > h4 {
  text-align: center;
  margin-top: 30px;
}

.vn-card > p {
  align-self: flex-end;
}

.search-info {
  color: #fff;
}
