:root {
  --bgColor: #1c1c1c;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  background-color: var(--bgColor);
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

body > header {
  position: fixed;
  display: flex;
  place-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 15px;
  background-color: #763791; /*#1e3a8a*/
  border-bottom: #0a1430 solid 3px;
}

body > header > p:hover {
  cursor: pointer;
}

main {
  padding: 100px 30px 100px 20%;
}

.info {
  display: grid;
  place-content: center;
  border: #fff 0.5px solid;
  flex-wrap: wrap;
  background-color: #141414;
  padding: 30px;
  z-index: 1;
}

.vn-list {
  display: flex;
  place-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 30px;
}

.list-title {
  text-align: center;
}
