.user-details {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 120px;
  left: 1.5%;
  width: 17%;
  height: 80vh;
  background-color: #141414;
  overflow: hidden;
}

.user-info {
  height: 60%;
}

.subahibi {
  margin-bottom: -200px;
  margin-right: -100px;
  width: 100%;
  margin-left: 120px;
}
