.user-details {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 140px;
  left: 1.5%;
  width: 17%;
  height: 80vh;
  background-color: #141414;
  overflow: hidden;
}

.user-info {
  height: 60%;
}

.subahibi {
  position: absolute;
  width: 300px;
  top: 400px;
  left: 40%;
}

.vn-welcome-text {
  width: 90%;
  height: 100px;
  background-color: #000;
  color: white;
  filter: opacity(50%);
  margin-left: 5%;
  margin-top: 19vh;
  padding: 10px;
}
