.user-details {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 140px;
  left: 1.5%;
  width: 17%;
  height: 80vh;
  background-color: #141414;
  overflow: hidden;
  padding: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
  height: 60%;
}

.user-info-title {
  width: 100%;
}

.vn-welcome-text {
  height: 100px;
  background-color: #000;
  color: white;
  filter: opacity(70%);
  margin-top: 19vh;
  padding: 10px;
}

.tags-info {
  padding: 30px;
}

.username {
  text-align: center;
}

.logout-button {
  place-self: center;
  padding: 10px;
  width: 150px;
}

.subahibi {
  position: absolute;
  width: 300px;
  top: 400px;
  left: 40%;
}
