.vn-card {
  display: flex;
  flex-direction: row;
  width: 400px;
  border: #fff 1px solid;
  color: #fff;
  padding: 10px;
}

.image-and-info {
  width: 40%;
  padding: 10px;
  font-size: 12px;
}

.image-and-info > p {
  margin-top: 5px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  align-self: flex-start;
  margin-bottom: 10px;
}

.image-container > img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
}

.title-and-description {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-left: #fff solid 1px;
  width: 60%;
  height: 300px;
}

.description-container {
  overflow-y: scroll;
  font-size: 13px;
  margin-top: 10px;
}

.title-and-description > h4 {
  margin-bottom: 10px;
}
